
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.action-button{
	background-color: transparent;
	border: 0 none;
}

.red{
	color: #CB3837;
}